DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=parqueadero_db
DB_PORT=3306

JWT_SECRET=tu_clave_secreta_muy_segura_cambiar_en_produccion
JWT_EXPIRES_IN=8h

PORT=3001
NODE_ENV=development
FRONTEND_URL=https://tu-app.vercel.app
